header{
    background-color:rgb(29, 223, 158);
    height: 100px;
}
h1{
    text-align: left;
}

div{
    background-color: rgb(214, 218, 215);
    display: flex;
}

.avatar{
    margin-left: 94%;
    margin-top: -3%;
}

.sec1, .sec2, .sec3{
    border: 2px;
    background-color: rgb(230, 247, 225);
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left:4%;
    margin-right: 4%;
    width: 30%;
}
